<h1>ADD LIST</h1>

<form action="/lists" method="post">
  <label for="list">Add a list category below</label>
  <input type="text" name="name">
  <button type="submit" name="button">Add List</button>
</form>
